.container{
    width: 17rem;
    margin:0 auto;
    min-height: 9rem;
    padding: 5px 5px;
  }
  
  .publish-classTask-first{
    width: 5.3rem;
    background-color: #fff;
    margin-bottom: .5rem;
  }

  .publish-classTask-first ul{
    margin: .2rem .2rem;
  }

  .open-paper-time{
    margin-left: .8rem;
  }

  .publish-classTask-first .some-must-wright{
    top: 0;
    left: 0;
    height: .35rem;
    line-height: .35rem;
    text-align: right;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  
  .publish-classTask-first .some-must-wright span{
    margin-right: .2rem;
    color: #535353;
  }

  .publish-classTask-first li.task_list{
    margin-bottom: .3rem;
  }

  .mater-select-choice{
    margin-bottom: .2rem;
  }
  
  .mater-select-choice span.cp{
    margin-right: .2rem;
  }
  
  .publish-classTask-first li.task_list p{
    color: #878787;
    line-height: .28rem;
    margin-bottom: .1rem;
  }
  
  .publish-classTask-first li.task_list p em{
    display: inline-block;
    width: .16rem;
  }
  
  .publish-classTask-first li.task_list input{
    height: .38rem;
    line-height: .38rem;
    width: 4.78rem;
    padding-left: .1rem;
    /* border:1px solid #ddd; */
    outline: none;
    padding: 0 0;
    padding-left: .1rem;
  }

  .teacher-student-score-percent{
    line-height: .38rem;
  }

  .teacher-student-score-percent input{
    height: .32rem;
    line-height: .32rem;
    width: .4rem;
    border: 1px solid #9c9c9c;
    text-align: center;
  }

  .task-select-action{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex-box;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    border:1px solid #ddd;
    height: .4rem;
    width: 2rem;
  }

  .task-select-action img{
    width: .24rem;
    height: .24rem;
    margin-right: .2rem;
  }
  
  .task-action-mutil-select{
    top: .05rem;
    left: 2.5rem;
    position: absolute;
  }
  
  span.inline-block.select-class{
    line-height: .38rem;
    border:1px solid #ddd;
    cursor: pointer;
    color: #535353;
    padding: 0 .1rem;
    margin-right: .3rem;
    margin-bottom: .2rem;
  }
  
  span.inline-block.select-class i.el-icon-plus{
    color: #3283d3;
    font-size: .14rem;
    margin-left: .1rem;
  
  }
  
  span.model-resource-button{
    box-shadow: 0 2px 6px rgba(129,129,129,.5);
    border: solid 1px #c4c4c4;
    background-image: -webkit-linear-gradient(top, #d4d3d3, #f8f8f8);
    height: .3rem;
    line-height: .3rem !important;
    border-radius: .15rem;
    padding-left: .1rem !important;
    padding-right: .2rem !important;
  }
  
  span.model-resource-button:hover{
    background-image: -webkit-linear-gradient(top, #e0e0e0, #fff);
    background-image: -moz-linear-gradient(top, #e0e0e0, #fff);
    background-image: -o-linear-gradient(top, #e0e0e0, #fff);
    background-image: -ms-linear-gradient(top, #e0e0e0, #fff);
    background-image: linear-gradient(to bottom, #e0e0e0, #fff);
  }
  
  
  span.inline-block.classes-added-push{
    color: #535353;
    background-color: #E5E9F2;
    line-height: .32rem;
    padding-left: .1rem;
    margin-right: .3rem;
    margin-bottom: .2rem;
  }
  
  span.inline-block.classes-added-push i{
    cursor: pointer;
    line-height: .32rem;
    padding: 0 .1rem;
    border-left:1px solid #ddd;
    margin-left: .1rem;
  }
  
  .class-margin{
    margin-top: .2rem;
  }
  
  .el-date-editor.el-input{
    width: 1.6rem !important;
    border:1px solid #ddd !important;
  }
  
  input[type="button"].button-default{
    width: 1.1rem;
    height: .4rem;
    border:none;
    outline: none;
    color: #fff;
    cursor: pointer;
    /* margin-top: .5rem; */
    border-radius: 4px;
  }
  
  .title-color{
    color: #3283d3 !important;
  }
  
  .animate-class-left{
    animation:theanimation 500ms ease-out 0s 1 alternate forwards;
    -webkit-animation:theanimation 500ms ease-out 0s 1 alternate forwards;
    -moz-animation:theanimation 500ms ease-out 0s 1 alternate forwards;
    -o-animation:theanimation 500ms ease-out 0s 1 alternate forwards;
    -ms-animation:theanimation 500ms ease-out 0s 1 alternate forwards;
  }
  
  @keyframes theanimation{
    from {
      top: .1rem;
      margin-left: 3.5rem;
      width: 10rem;
    }
    to {
      width: 4.5rem;
      margin-left: 0;
      top: .1rem;
    }
  }
  
  .animate-class-right{
    animation:theanimationright 500ms ease-out 0s 1 alternate forwards;
    -webkit-animation:theanimationright 500ms ease-out 0s 1 alternate forwards;
    -moz-animation:theanimationright 500ms ease-out 0s 1 alternate forwards;
    -o-animation:theanimationright 500ms ease-out 0s 1 alternate forwards;
    -ms-animation:theanimationright 500ms ease-out 0s 1 alternate forwards;
  }
  
  @keyframes theanimationright{
    from {
      top: .1rem;
      margin-left:0rem;
      width: 3.5rem;
    }
    to {
      width: 10rem;
      margin-left:3.5rem;
      top: .1rem;
    }
  }
  
  .animate-class-left-input{
    animation:inputAnimation 500ms ease-out 0s 1 alternate forwards;
  }
  
  @keyframes inputAnimation{
    from {
      width: 8.88rem;
    }
    to {
      width: 4.38rem;
    }
  }
  
  span.inline-block.class-list{
    line-height: .26rem;
    margin-right: .2rem;
  }
  
  .publish-task-second{
    padding: 0;
    width: 9.7rem;
    margin-left: .35rem;
    box-shadow: 0 0.02rem 0.05rem rgba(2,22,37,.3);
    margin-bottom: .5rem;
  }
  
  div.publish-add-resource{
    border-bottom: 1px solid #ddd;
  }
  
  div.publish-add-resource span{
    margin:.1rem 0 .1rem .3rem;
    cursor: pointer;
    margin-right: 0 !important;
  }
  
  div.publish-add-resource span i{
    margin-right: .1rem;
  }
  
  div.select-now-model{
    width: 100%;
    height: 6.3rem;
  }
  
  div.use-added-model{
    width: 5rem;
    height: 1.9rem;
    margin:1.5rem auto;
    background-color: rgba(136,201,73,.4);
    border-radius: .05rem;
    cursor: pointer;
    /*left: 5rem !important;*/
  }
  
  div.use-added-model img{
    width: 1.2rem;
    height: 1.2rem;
    margin: .15rem 1.9rem;
  }
  
  div.use-added-model p{
    color: #417214;
    text-align: center;
  }
  
  .select-now-model .task-maker{
    position: absolute;
    left: .3rem;
    bottom:.3rem;
  }

  .select-now-model .task-maker input{
    margin-right: .3rem;
  }
  
  .opacity-change{
    animation:senanimation 500ms ease-out 0s 1 alternate forwards;
  }
  
  @keyframes senanimation{
    from{
      opacity:0;
      z-index: -1;
    }
    to{
      opacity:1;
      z-index: 1;
    }
  }
  
  .opacity-change-end{
    animation:senanimationend 500ms ease-out 0s 1 alternate forwards;
  }
  
  @keyframes senanimationend{
    from{
      opacity: 1;
      z-index: 1;
    }
    to{
      opacity: 0;
      z-index: -1;
    }
  }
  
  span.inline-block.select-class.fs-14.resourceAdded{
    border-radius: .15rem;
    height: .3rem;
    line-height: .3rem;
    cursor: default;
    color: #a7a7a7;
    padding-right: .2rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(129,129,129,.5);
    -moz-box-shadow: 0 2px 6px rgba(129,129,129,.5);
    box-shadow: 0 2px 6px rgba(129,129,129,.5);
    /*border: solid 1px #c4c4c4; */
    background-image: -webkit-linear-gradient(top, #e0e0e0, #fff);
    background-image: -moz-linear-gradient(top, #e0e0e0, #fff);
    background-image: -o-linear-gradient(top, #e0e0e0, #fff);
    background-image: -ms-linear-gradient(top, #e0e0e0, #fff);
    background-image: linear-gradient(to bottom, #e0e0e0, #fff);
  }
  
  .inline-block.select-class.fs-14.resourceAdded i{
    color: #a7a7a7;
  }
  
  .resource-video-paper-pro .resource-example-list{
    width: 9rem;
    min-height: 1.9rem;
    margin:.1rem auto;
    margin-bottom: .2rem;
    background-color: rgba(245,245,245,.75);
    padding-bottom: .1rem;
  }
  
  .resource-video-paper-pro .resource-example-list>span{
    position: absolute;
    right: .1rem;
    top: .1rem;
  }
  
  .resource-video-paper-pro .resource-example-list span img{
    cursor: pointer;
    margin-left: .15rem;
    width: .26rem;
    height: .26rem;
  }
  
  .real-true-resource>p{
    color: #535353;
    line-height: .28rem;
    margin:.1rem .2rem;
  }
  
  .real-true-resource .nedd-add-to-model img{
    width: 1.2rem;
    height: 1.2rem;
    margin:0 3.9rem;
    cursor: pointer;
  }
  
  .real-true-resource .nedd-add-to-model p{
    text-align: center;
    color: #223954;
    margin:  0 0;
    font-size: .16rem;
    margin-bottom: .1rem;
  }
  
  .real-true-resource div.clear{
    color: #535353;
    padding: .1rem .2rem;
  }
  
  .real-true-resource div.clear p{
    width: .7rem;
  }
  
  .real-true-resource div.clear div.fs-14{
    width: 7.8rem;
  }
  
  span.production-add-grade{
    width: 2rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    margin: .2rem 3.3rem;
    cursor: pointer;
    border-radius: .3rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(129,129,129,.5);
    -moz-box-shadow: 0 2px 6px rgba(129,129,129,.5);
    box-shadow: 0 2px 6px rgba(129,129,129,.5);
    border: solid 1px #c4c4c4;
    background-image: -webkit-linear-gradient(top, #d4d3d3, #f8f8f8);
    background-image: -moz-linear-gradient(top, #d4d3d3, #f8f8f8);
    background-image: -o-linear-gradient(top, #d4d3d3, #f8f8f8);
    background-image: -ms-linear-gradient(top, #d4d3d3, #f8f8f8);
  }
  
  span.production-add-grade:hover{
    background-image: -webkit-linear-gradient(top, #e0e0e0, #fff);
    background-image: -moz-linear-gradient(top, #e0e0e0, #fff);
    background-image: -o-linear-gradient(top, #e0e0e0, #fff);
    background-image: -ms-linear-gradient(top, #e0e0e0, #fff);
    background-image: linear-gradient(to bottom, #e0e0e0, #fff);
  }
  
  .textarea-task-action-detail{
    margin: .2rem .3rem .2rem .3rem;
    padding: .2rem .2rem;
    width: 8.6rem;
    height: 2.4rem;
    border:1px solid #ddd;
    resize: none;
  }
  
  .pre-button-and-submit{
    border-top: 1px solid #ddd;
    padding: .2rem .3rem;
  }
  
  .pre-button-and-submit span{
    color: #fff;
    cursor: pointer;
    height: .38rem;
    line-height: .38rem;
    padding: 0 .3rem;
  }
  
  .pre-button-and-submit span:last-child{
    box-shadow: 0 1px 2px rgba(2,22,37,.3);
    background-image: -webkit-linear-gradient(bottom, #37c796, #08af95);
    background-image: -moz-linear-gradient(bottom, #37c796, #08af95);
    background-image: -o-linear-gradient(bottom, #37c796, #08af95);
    background-image: -ms-linear-gradient(bottom, #37c796, #08af95);
    background-image: linear-gradient(to top, #37c796, #08af95);
  }
  
  .pre-button-and-submit span:last-child:hover{
    box-shadow: 0 1px 2px rgba(2,22,37,.3);
    background-image: -webkit-linear-gradient(bottom, #47d4a4, #0bc0a4);
    background-image: -moz-linear-gradient(bottom, #47d4a4, #0bc0a4);
    background-image: -o-linear-gradient(bottom, #47d4a4, #0bc0a4);
    background-image: -ms-linear-gradient(bottom, #47d4a4, #0bc0a4);
    background-image: linear-gradient(to top, #47d4a4, #0bc0a4);
  }
    
  .pro-mark-line .clear div.fl.title{
    width: 5rem;
    height: .4rem;
  }
  
  .pro-mark-line .clear div.fl.title input{
    width: 4.2rem;
    padding-left: .1rem;
    height: .3rem;
    line-height: .3rem;
    border: 1px solid #9c9c9c;
  }
  
  .pro-mark-line .clear div.fl.value input{
    width: .3rem;
    height: .3rem;
    border: 1px solid #9c9c9c;
  }
  
  .pro-mark-line .clear div.fl.add,
  .pro-mark-line .clear div.fl.delete{
    /*text-decoration: underline;*/
    line-height: .3rem;
    padding: 0 .2rem;
  }
  
  .pro-mark-line .clear div.fl.add a,
  .pro-mark-line .clear div.fl.delete a{
    text-decoration: underline;
    text-decoration-color: #3283d3;
    color: #3283d3;
    cursor: pointer;
  }
  
  .pro-mark-line .clear div.fl.delete a{
    text-decoration-color: #ff4848;
    color: #ff4848;
  }
  
  .all-classes-list div.fs-18{
    margin-bottom: .2rem;
    color: #878787;
  }
  
  .all-classes-list div.fs-18 span{
    margin-right: .3rem;
    cursor: pointer;
  }
  
  .all-classes-list div.fs-18 span.active{
    color: #535353;
    font-size: .26rem;
  }
  
  
  .list-added-knowlege{
    padding: 0 .2rem;
  }
  
  .list-added-knowlege>div{
    margin-right: .3rem;
  }
  
  .wtt-choice-icon {
    position: relative;
    top: .05rem;
  }
  
  
  .otl-none {
    outline: none;
    border: none;
  }
  
  .wtt-search-main-icon {
    right: .1rem;
    bottom: .1rem;
    width: .21rem;
    height: .21rem;
  }
  
  .choose-now-added-model .work-temp-top{
    padding:.3rem 20px;
    /* height: .8rem; */
    border-bottom: 1px solid #ddd;
  }
  
  .work-temp-top-mutil-select-item{
      height: .35rem;
      line-height: .35rem;
      border-radius: 4px;
      text-align: center;
      background-color: #535353;
      box-shadow: 0 1px 2px rgba(2,22,37,.3);
      background-image: linear-gradient(to top, #9599a0, #6b7279);
      color: #fff;
  }
  
  .wtt-msi-name{
      border-right: 1px solid #fff;
      height: 100%;
      display: inline-block;
      min-width: .9rem;
      padding: 0 .1rem;
      text-align: center;
      width: 1.6rem;
  }
  
  .wtt-msi-icon {
      top: .1rem;
      right: .08rem;
  }
  
  .wtt-msi-icon {
      width: .35rem;
      height: .35rem;
      position: relative;
  }
  
  .work-temp-top-mutil-select-item span.TH-f-c-link{
    right: -.4rem;
    display: inline-block;
    cursor: pointer;
  }
  
  .all-mudel-list{
    border:1px solid #bfbfbf;
    border-radius: 4px;
  }
  
  .pre-later-time{
    margin-top: .55rem;
    line-height: .24remm;
    margin-left: .2rem;
  }
  
  .pre-later-time span{
    cursor: pointer;
    color: #3283d3;
    margin-right: .1rem;
  }
  
  .classes-margin-arrow{
    margin:.2rem .2rem;
  }
  
  .added-resource-show{
    margin-top:.3rem;
    margin-left: .2rem;
  }
  
  .add-paper-other-message div.inline-block{
    padding: .2rem .2rem;
  }
  
  .add-paper-other-message div.inline-block input.fs-16{
    border:1px solid #ddd;
    height: .38rem;
    width: .5rem;
    text-align: center;
  }

  /*  2017.10.9  2.0.0 新增需求  */
  .u-add-resource-position{
    top: 0;
    right: -1.5rem;
    color: #fff;
  }

  .u-add-resource-position li{
    width: 1.3rem;
    text-align: center;
    line-height: .44rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex-box;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    text-align:center;
  }

  .u-add-resource-position li img{
    width: .18rem;
    height:  .18rem;
    margin-right: .1rem;
  }
  
  .color-79b3b3{
    background-color: #79b3b3;
    border-bottom: 1px solid #79b3b3;
  }
  
  .color-5b93ba{
    background-color: #5b93ba;
    border-bottom: 1px solid #5b93ba;
  }
  
  .color-cacaca{
    color: #8b8b8b;
    background-color: #cacaca;
    border-bottom: 1px solid #ddd;
  }

  .u-add-resource-position li:last-child{
    border-bottom: none;
  }

  .animate-class-input{
    border: 1px solid #ddd;
  }

  .added-resource-list{
    margin: .2rem .2rem;
  }

  .added-resource-list-example{
    margin-bottom: .2rem;
    background-color: #e9eef1;
    padding: .15rem .1rem;
  }
  
  .added-resource-list-example p.fs-16{
    margin-bottom: .15rem;
    line-height: .26rem;
  }

  .added-resource-list-example p.fs-16 .fr{
    width: .26rem;
    height: .26rem;
  }

  .added-resource-list-example p.fs-16 .fr img{
    width: 100%;
    height: 100%;
  }
  
  .add-push-resource{
    background-color: #e9eef1;
    margin-top: .1rem;
  }

  .add-push-resource p{
    margin-right: .3rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex-box;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    text-align:center;
  }

  .add-push-resource p img{
    height: .18rem;
    margin-right: .1rem;
  }

  .dialog-work-item-grade{
    width: 9.2rem;
  }

  .dialog-work-item-content{
    padding: 0 0 !important;
  }

  .dialog-work-item-content li{
    margin-bottom: .3rem;
  }

  .dialog-work-item-content li:last-child{
    margin-bottom: 0;
  }

  .dialog-work-item-content .WorkItemCont{
    width:7rem;
    padding:0 .15rem;
    line-height: .36rem;
    border:1px solid #9c9c9c;
  }

  .dialog-work-item-content li p.fl{
    min-width: 1rem;
    text-align: right;
  }
  
  .dialog-work-item-content li p.label{
    line-height: .38rem;
  }

  .dialog-work-item-content li textarea{
    width: 7rem;
    height: 1.85rem;
    padding: .1rem .15rem;
    resize: none;
    border:1px solid #9c9c9c;
  }
 
  .dialog-work-item-content .el-checkbox-group{
    width: 7.3rem;
    /* height: 5rem; */
    overflow: auto;
  }

  .dialog-work-item-content .el-checkbox-group .el-checkbox{
    width: 1.3rem;
  }

  .TF-temp-Arr-space p{
    margin-top: .3rem;
  }
  
  .pre-load-and-submit-btn{
    border-top: 1px solid #ddd;
    padding: .2rem .2rem .2rem 0;
  }

  .pre-load-and-submit-btn .cp{
    height: .4rem;
    line-height: .4rem;
    padding: 0 .3rem;
    margin-left: .2rem;
  }

  .return-pre-status{
    position: fixed;
    bottom:0;
    left: 0;
    background-color: #3283d3;
    color: #fff;
    width: 100%;
    height: .75rem;
    line-height: .75rem;
    text-align: center;
  }

  .return-pre-status span{
    padding: 0 .35rem;
  }

  .SelectedInputCheckbox p{
    margin-left: .3rem;
  }

  .SelectedInputCheckbox input{
    width: .6rem;
    height: .4rem;
    text-align: center;
    line-height: .4rem;
  }

  .all-classes-list .content-tab-title span{
    margin-right: .1rem;
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
    height: .4rem;
    width: 1rem;
    text-align: center;
    line-height: .4rem;
    border-radius: 2px;
    display: inline-block;
  }
  
  .all-classes-list .content-tab-title span.active{
    color: #3498db;
    background-color: #fff;
    border:1px solid #bfbfbf;
    border-bottom: none;
  }

  .wtt-choice i{
    vertical-align: text-top;
  }
  
  .list-added-knowlege{
    padding: 0 .2rem;
  }
  
  .list-added-knowlege>div{
    margin-right: .3rem;
  }
  
  .wtt-choice-icon {
    position: relative;
    top: .05rem;
  }
  
  .wtt-search {
    top: .2rem;
    right: .5rem;
  }

  .knowlege-new-style span{
    text-decoration: underline;
  }
  
  .wtt-search-label {
    margin: .1rem .15rem;
  }

  .work-temp-content{
    padding: 0rem .5rem .1rem .5rem;
  }

  .content-tab-title{
    left: .5rem;
    top: .31rem;
  }

  .upload-resource-at-once{
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    padding: .15rem 0;
  }

  .upload-resource-at-once .TH-button-primary,
  .upload-resource-at-once .TH-button-default{
    padding: 0 .3rem;
    border-radius: 30px;
  }

  .all-mudel-list .container-nav{
    height: .4rem;
    line-height: .4rem;
    border-bottom: 1px solid #ddd;
    padding-left: .6rem;
  }

  .all-mudel-list .container-nav .fr .inline-block{
    /* padding-right: .3rem; */
    width: 1.6rem;
    text-align: left;
    /* cursor: pointer; */
  }

  .all-mudel-list .container-nav .fr:hover .TH-card{
    display: block;
  }

  .all-mudel-list .container-nav .TH-card{
    z-index: 2;
    background-color: #fff;
    left: .5rem;
    display: none;
  }

  .all-mudel-list .container-nav .TH-card li{
    width: 1.5rem;
    font-weight: normal;
    padding-left: .1rem;
    text-align: left;
  }

  .my-upload-message{
    width: 1.6rem;
    text-align: left;
  }

  .all-mudel-list .container-nav .fr i,
  i.fa-sort-desc{
    vertical-align: text-top;
    margin-left: .1rem;
  }

  .all-mudel-list .el-checkbox-group{
    /* padding: 0 0 .2rem .4rem; */
    height: 4.1rem;
    overflow: auto;
  }
  
  .wtt-search-main-input {
    width: 2.2rem;
    height: .36rem;
    line-height: .36rem;
    border:2px solid #bfbfbf !important;
    padding-left: .1rem;
    border-radius: 2px;
    font-size: .14rem;
  }

  .TH-button-default-new{
    background-color: #28ae17 ;
    box-shadow: 0 1px 2px rgba(2,22,37,.3);
    padding: 0 .2rem;
    border-radius: 30px;
    color: #fff;
  }

  .TH-button-primary-new{
    background-color: #3283d3 ;
    box-shadow: 0 1px 2px rgba(2,22,37,.3);
    padding: 0 .2rem;
    border-radius: 30px;
    color: #fff;
    margin-right: .2rem;
  }

  .drop-down-self-wt{
    /* height: .4rem; */
    line-height: .4rem;
    margin-right: .3rem;
  }

  .drop-down-self-wt .down{
    width: 1.2rem;
    height: .4rem;
    border:1px solid #bfbfbf;
  }

  .drop-down-self-wt .down span{
    padding-left: .1rem;
  }

  .drop-down-self-wt .down i{
    right: 5px;
    top: .07rem;
  }

  .drop-down-self-wt:hover .card-shadow{
    display: block;
  }

  .drop-down-self-wt .card-shadow{
    background-color: #fff;
    z-index: 9999;
    left: 0;
    top: .4rem;
    display: none;
  }

  .drop-down-self-wt .card-shadow li{
    padding-left: .1rem;
    width:1.4rem;
    cursor: pointer;
    color: #535353;
  }

  .drop-down-self-wt .card-shadow li.active{
    color: #3283d3;
  }

  .matter-selectd-activity{
    display: inline-block;
    width: 1.3rem;
  }

  .drop-down-self-wt-paper{
    top: .2rem;
    left: .5rem;
  }

  .paper-height{
    height: .8rem;
    padding: 0 0 !important;
  }

  .TH-f-c-link {
    color: #3283d3 !important;
  }

  .knowlege-new-style:hover .action-class-list-more{
    display: block;
  }
  
  .action-class-list-more{
    background-color: #fff;
    padding: .1rem;
    min-width: 2rem;
    color: #fff;
    top: .2rem;
    left: 0;
    color: #535353;
    border:1px solid #ddd;
    border-radius: 4px;
    display:none;
    text-decoration: none !important;
  }

  .action-class-list-more>span{
    margin-right:.1rem;
  }

  .dwic-type {
    color: #09a009;
  }

  .dwic-check {
    width: 1.8rem !important;
  }

